
body {
    background-color: #f0f0f0;
}

.formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color:#7b2cbf !important;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2) !important;
}

.formContainer .content {
    margin-top: 20px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.content input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content label {
    font-size: 18px;
}



