body {
    background-color: #f0f0f0;
}

.pageContainer {
    margin-top: 20px;
}

.btnDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav {
    background-color:#7b2cbf !important;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2) !important;
}
