html {
    width: 100%;
    height: 100%;
}

body {
    width: 100% !important;
    height: 100% !important;
}

.container-fluid {
    display: flex;
    width: 100% !important;
    height: 100% !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.submit {
    opacity: 0;
}

.title {
    color: red;
    font-weight: bold;
}

img {
    margin-bottom: 30px;
    width: 500px;
}