body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
    margin: 5em auto;
    display: flex;
}



.container-fluid {
    padding: 20px;
}

.company__info {
    background-color: #000000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.fa-android {
    font-size: 3em;
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 80%;
    }

    .company__info {
        display: none;
    }

    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 642px) and (max-width:800px) {
    .main-content {
        width: 60%;
    }
}

.row>h2 {
    color: #7b2cbf;
}

.login_form {
    background-color: #fff;
    border-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

form {
    padding: 0 2em;
}

.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
}

.form__input:focus {
    border-bottom-color: #7b2cbf;
    box-shadow: 0 0 5px rgba(0, 80, 80, .4);
    border-radius: 4px;
}

.btn {
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color: #7b2cbf;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #7b2cbf;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
    background-color: #7b2cbf;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
}

.buttons {
    justify-content: center;
}