body {
    background-color: #f0f0f0;
}

h2,
h5,
.h2,
.h5 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
}

nav {
    background-color:#7b2cbf !important;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2) !important;
}


h5,
.h5 {
    font-size: .8125rem;
}

@media (min-width: 992px) {

    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 1200px) {

    .col-xl-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-xl-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}


.bg-danger {
    background-color: #f5365c !important;
}



@media (min-width: 1200px) {

    .justify-content-xl-between {
        justify-content: space-between !important;
    }
}


.pt-5 {
    padding-top: 3rem !important;
}

.pb-8 {
    padding-bottom: 8rem !important;
}

@media (min-width: 768px) {

    .pt-md-8 {
        padding-top: 8rem !important;
    }
}

@media (min-width: 1200px) {

    .mb-xl-0 {
        margin-bottom: 0 !important;
    }
}




.font-weight-bold {
    font-weight: 600 !important;
}


a.text-success:hover,
a.text-success:focus {
    color: #24a46d !important;
}

.text-warning {
    color: #fb6340 !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #fa3a0e !important;
}

.text-danger {
    color: #f5365c !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #ec0c38 !important;
}

.text-white {
    color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #e6e6e6 !important;
}

.text-muted {
    color: #8898aa !important;
}

@media print {

    *,
    *::before,
    *::after {
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    p,
    h2 {
        orphans: 3;
        widows: 3;
    }

    h2 {
        page-break-after: avoid;
    }

    @page {
        size: a3;
    }

    body {
        min-width: 992px !important;
    }
}

figcaption,
main {
    display: block;
}

main {
    overflow: hidden;
}

.bg-yellow {
    background-color: #ffd600 !important;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon i {
    font-size: 2.25rem;
}

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 20px;
    margin: auto;
    margin-top: 40px;
}

.stat_date {
    margin-right: 20px;
}

.title {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title p {
    background-color: white;
    border-radius: 6px;
    padding: 5px 20px;
    box-shadow: 3px 3px 3px silver;
    font-weight: bold;
    border: 1px silver solid;
    font-size: 22px;
}

.title .p {
    border: 3px blue solid;
    flex: 50%;
}
