table {
    border-collapse: collapse;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}


tr {
    transition: all .2s ease-in;
}

th,
td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #7b2cbf;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .table {
        width: 90%;
        margin: 20px 4%;
    }

    th,
    td {
        font-size: 14px;
        padding: 6px;
    }
}

@media (max-width: 500) {
    table {
        width: 90%;
        margin: 20px 4%;
        font-size: 6px;
    }

    th,
    td {
        padding: 6px;
    }
}


@media (min-width: 1300px) {

    th,
    td {
        font-size: 18px;
    }
}