body {
    background-color: #f0f0f0;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 20px;
    margin: auto;
}

.searchDiv{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
}

nav {
    background-color:#7b2cbf !important;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2) !important;
}

.selectDiv {
    margin-right: 20px;
}

.selectDiv select {
    font-size: 18px;
}

.title {
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;
    margin-top:40px;
}

.title div {
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 30px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-right: 30px;
}
